*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.MainContainer {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  display: grid;
  background-color: white;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  --panel-title-font-size: 2rem;
  --panel-title-padding: 0.5rem;
}

.Panel {
  background-color: white;
  width: 100%;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.Panel1 {
  overflow: visible;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  height: 100vh;
  max-height: 100vh;
}

.Panel1TabView {
  width: 100%;
  height: 100%;
}

.Panel3 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.PanelTitle {
  background-color: teal;
  color: white;
  font-size: var(--panel-title-font-size);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: var(--panel-title-padding);
}

.ParameterList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.ParameterControl {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.ParameterControl label {
  font-size: 1.25rem;
  display: block;
  width: 100%;
  word-wrap: break-word;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.ParameterControl input {
  font-size: 1.25rem;
  display: block;
  border: 1px solid black;
  background-color: rgb(150, 200, 150);
  width: 100%;
}

.ParameterControl aside {
  font-size: 1rem;
  display: flex;
  width: 100%;
  word-wrap: break-word;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.ParameterControl aside pre {
  font-size: 1rem;
  display: inline;
  white-space: pre-wrap;
  font-family: monospace;
  width: 100%;
  text-align: left;
  display: block;
}

.TabView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  --title-font-size: 1.5rem;
  --title-padding: 0.25rem;
  --tab-enlarge: 1.05;
}

.tab-content {
  width: 100%;
}

.tab-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: visible;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

.tab-content-container {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow-y: auto;
  background-color: rgb(248, 219, 134);
  z-index: 1;
}

.tab {
  color: white;
  font-size: var(--title-font-size);
  margin: 0;
  padding: var(--title-padding);
  flex: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  transform: scale(1);
  border-radius: 0.5rem 0.5rem 0 0;
}

.tab.tab-active {
  background-color: cornflowerblue;
  cursor: auto;
  transform: scale(var(--tab-enlarge));
  z-index: 2;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.tab:not(.tab-active) {
  background-color: rgb(195, 208, 210);
  color: black;
  cursor: pointer;
  z-index: 0;
}

.tab:not(.tab-active):hover {
  z-index: 3;
  transform: scale(var(--tab-enlarge));
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.tab:not(.tab-active):active {
  z-index: 3;
  transform: scale(0.9);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.ControlPanelContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.ControlPanelButton {
  border: none;
  width: 6em;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  transform: scale(1);
  user-select: none;
}

.ControlPanelButton:hover:not(:disabled) {
  transform: scale(1.05);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.ControlPanelButton:active:not(:disabled) {
  transform: scale(0.95);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.ControlPanelButton:disabled {
  transform: scale(1);
  cursor: not-allowed;
  /* opacity: 60%; */
  background: rgba(0, 0, 0, 0.15);
}

.ControlledBy {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ControlledByOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.ControlledByOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-size: 1.25rem;
}

.ControlledByOption label {
  font-size: 1.25rem;
  cursor: pointer;
}

.ControlledByOption input {
  font-size: 1.25rem;
  cursor: pointer;
}

.ControlledBy .ControlledByCaption {
  font-size: 1.25rem;
}

.DebugConsole {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
}

.DebugConsoleMessage {
}

.DebugConsoleMessageName {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.DebugConsoleMessageText {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.DebugConsoleMessageDetailsKey {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.DebugConsoleMessageDetailsValue {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.GameCanvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 208, 210);
}

.GameCanvas {
  border: 2px solid black;
  background-color: rgb(210, 210, 230);
}

.VisCanvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 208, 210);
}

.VisCanvas {
  border: 2px solid black;
  background-color: rgb(210, 210, 230);
}

.FitnessPlotContainer {
  border: 2px solid black;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: rgb(195, 208, 210);
}

.FitnessPlotBoundsContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 208, 210);
  border-right: 2px solid black;
}

.FitnessPlotBound {
}

.FitnessPlotPerSimBound {
  background-color: rgb(195, 208, 210);
}

.FitnessPlotPerPlotBound {
  background-color: rgb(210, 210, 230);
  border: 2px solid black;
  border-right: none;
  border-left: none;
}

.FitnessCanvasAndSpacersContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.FitnessCanvasContainer {
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 208, 210);
}

.FitnessCanvas {
  border: 2px solid black;
  border-left: none;
  border-right: none;
  background-color: rgb(210, 210, 230);
}

.MonitorAndMetricsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
  gap: 4px;
}

.SimulationStartStopPauseResume {
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.MetricsTable {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.MetricsTable td {
  border: 1px solid black;
}

.MetricsTable th {
  border: 1px solid black;
}

.MetricsTable thead th {
  background: cornflowerblue;
  text-align: left;
  white-space: nowrap;
  padding: 8px;
}

.MetricsTable thead th:first-child,
.MetricsTable tbody td:first-child {
  width: 1%;
  white-space: nowrap;
  background: cornflowerblue;
  font-weight: bold;
}

.MetricsTable tbody td {
  padding: 8px;
}

.MetricsTable tbody td:last-child {
  width: auto;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
}

.ParameterControl input:disabled {
  opacity: 60%;
  cursor: not-allowed;
}
