.ml-auto {
    margin-left: auto;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.visibility-hidden {
    visibility: hidden;
}

.margin-top-auto {
    margin-top: auto;
}