*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.MainContainer {

  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  display: grid;
  background-color: black;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  --panel-title-height: 2rem;
  --panel-title-font-size: 1.5rem;
}

.Panel {
  background-color: white;
  width: 100%;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.Panel1 {
  overflow:visible;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100vh;
  max-height: 100vh;
}

.Panel1TabView {
  width: 100%;
  height: 100%;
}

.Panel2 {}

.Panel3 {}

.Panel4 {}

.Panel5 {}

.Panel6 {}

.PanelTitle {
  background-color: skyblue;
  color: black;
  font-size: var(--panel-title-font-size);
  width: 100%;
  height: var(--panel-title-height);
  line-height: var(--panel-title-height);
  text-align: center;
  margin: 0;
  padding: 0;
}

.ParameterList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
}

.ParameterControl {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.25rem;
  gap: 0.25rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.ParameterControl label {
  font-size: 1.25rem;
  display: block;
  width: 100%;
  word-wrap: break-word;
}

.ParameterControl input {
  font-size: 1.25rem;
  display: block;
  border: 1px solid black;
  background-color: rgb(150, 200, 150);
  width: 100%;
}

.ParameterControl aside {
  font-size: 0.75rem;
  display: block;
  width: 100%;
  word-wrap: break-word;
  font-style: italic;
}

.ParameterControl aside pre {
  font-size: 1rem;
  display: inline;
  white-space: pre-wrap;
  font-style: normal;
  font-family: monospace;
  width: 100%;
  text-align: left;
  display: block;
}

.TabView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 219, 134);
  overflow: visible;
  --title-height: 1.5rem;
  --title-font-size: 1rem;
}

.tab-content {
  width: 100%;
}

.tab-title-container {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: visible;
  background-color: rgb(248, 219, 134);
  height: var(--title-height);
}

.tab-content-container {
  width: 100%;
  overflow-y: auto;
}

.tab {
  background-color: white;
  color: black;
  font-size: var(--title-font-size);
  line-height: var(--title-height);
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
  height: var(--title-height);
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  transform: scale(1);
}

.tab.tab-active {
  background-color: rgb(218, 186, 90);
  cursor: auto;
  margin-top: -4px;
  z-index: 1;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.tab:not(.tab-active) {
  background-color: lightgray;
  cursor: pointer;
  margin-top: 0px;
  z-index: 0;
}

.tab:not(.tab-active):hover {
  z-index: 2;
  margin-top: -4px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.tab:not(.tab-active):active {
  z-index: 2;
  transform: scale(0.9);
  margin-top: -4px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}


.ControlPanelContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;

}

.ControlPanelButton {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  transform: scale(1);
  user-select: none;
}

.ControlPanelButton:hover {
  transform: scale(1.05);
}

.ControlPanelButton:active {
  transform: scale(0.95);
}

.ControlledBy {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ControlledByOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.ControlledByOptions label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.25rem;
}

.ControlledBy .ControlledByCaption {
  font-size: 1.25rem;
}
